<html>
<head>
	<title>Course Page</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/bootstrap-theme.min.css" rel="stylesheet">
	<link href="/css/CoursePage.css" rel="stylesheet">
</head>
<body>
<div class="container">
		
		<!-- Hamburger menu button -->
		<nav class="navbar navbar-inverse navbar-static-top" role="navigation">

         <div class="navbar-header" style="background-color: #ffffff;">
      <button type="button" class="navbar-toggle collapsed" style="float: left; background-color: #333" data-toggle="collapse" data-target="#collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
   </div>

    <!-- Collect the links -->
    <div class="collapse navbar-collapse"  id="collapse-1">
				<ul class="nav navbar-nav">
					{{#each courses}}
                    <li><a href="{{title}}">{{title}}</a></li>
                	{{/each}}
				</ul>
			</div>
		</nav>

		<h1>{{title}}</h1>
		
		<br>

		<h2>My Groups</h2>

		<!-- Display the groups for the course -->
		{{#each groups}}
		<a id="group"  href="../groupPage" class="thumbnail">
			<img src="{{imageURL}}" alt="GroupImage" class="img-responsive img-rounded">
			<h4 style="color: #333">{{name}}</h4>
		</a>
		{{/each}}

    	<!-- Button to find teammates -->
		<button id="findTeammates" class="btn btn-default btn-md" style="float: right; background-color: #333">+</button>
	</div>

	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="/js/bootstrap.min.js"></script>
	<script src="/js/teamUp.js"></script>


</body>
</html>
