<html>
<head>
	<title>Group Page</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/bootstrap-theme.min.css" rel="stylesheet">
	<link href="/css/CoursePage.css" rel="stylesheet">
</head>
<body>
	<div class="container">
		<nav>
				<!-- Button to return to the course page of that group -->
			<button id="backCourse" class="btn btn-default btn-md" onclick="window.location.href='/course={{course}}'">Back</button>

			<!-- Button to find teammates -->
			<button id="addTeammate" class="btn btn-default btn-md" onclick="window.location.href='/groupPage={{title}}/addTeammate'">Add Team Member</button>
		</nav>

		<h1>{{title}}</h1><br>

		<h3>Uploaded Work</h3>

		<div class="thumbnail">
		 	<img src="{{img}}" class="img-responsive img-rounded">

			<p id="commentList">{{comments}}</p>

			<form id="addCommentForm" role="form" method="get" action="/addComment">
				<h3>Add a Critique</h3>
	    		<div class="form-group">
	      			<label for="comment">Comment:</label>
	      			<input type="text" class="form-control" id="comment" placeholder="Comment" name="comment">
	   		 	</div>

				<input type="hidden" name="grouptitle" value="{{title}}">
				<input type="hidden" name="groupimg" value="{{img}}">

	    		<input type="submit" id="submitBtn" class="btn btn-default" value="Add the comment"></input>
			</form>

		</div>

	</div>

	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="/js/bootstrap.min.js"></script>
    <script src="/js/addComment.js"></script>
    <script src="/js/addTeammate.js"></script>
</body>
</html>
